.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: rgb(27, 27, 27);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.navbar-image {
  height: 40px;
  margin-bottom: 15px;
  background-size: cover;
  position: sticky;
  top: 20px;
  padding-left: 1%;
}

.navbar-text-logo {
  height: 50px;
  top: 20px;
  color: black;
  position: sticky;
  border-radius: 0px;
  padding: 0%;
  margin: 6px
}

.navbar-text-loggedIn {
  color: black;
  position: sticky;
  margin-left: auto;
}

.navbar-button-logout {
  color: black;
  width: 100px;
  position: sticky;
  background-color: white;
  color : black;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid #282c34;
  border-radius: 15px;
  cursor: pointer;
}

.navbar-button-newpost {
  color: black;
  width: 100px;
  position: sticky;
  padding: 0%;
  margin-left: 2%;
  background-color: white;
  color : black;
  display: block;
  text-align: center;
  border: 1px solid #282c34;
  border-radius: 17px;
  cursor: pointer;
}

.navbar-button-newpost:hover {
  background-color:orange;
  color: black;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.navbar-button-logout:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.card {
  background: white;
  width: 31%;
  margin: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 856px) {
  .card {
    width: 47%;
  }

  

}

@media screen and (max-width: 667px) {
  .card {
    width: 96%;
  }
}

.card-image { 
  width: 90%;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px;
}

.comment {
  margin: 2px;
  background-color: antiquewhite;
  color:rgb(27, 27, 27);
  border: 1px solid #282c34;
  border-radius: 15px;

}
.comment-button {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 15px;
}

.add-button {
  background-color: green;
  height: 10px;
  color: white;
  padding: 5px 13px;
  position: relative;
  left: 40px;
  top: 5px;
  text-align: center;
  border-radius: 15px;
}

.add-button:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.unfollow-button {
  background-color: red;
  height: 10px;
  color: white;
  padding: 5px 13px;
  position: relative;
  left: 40px;
  top: 5px;
  text-align: center;
  border-radius: 15px;
}

.unfollow-button:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.add-selection {
  margin: 7px;
  padding: 10px 40px;
  background-color: antiquewhite;
  color:rgb(27, 27, 27);
  border: 1px solid #282c34;
  border-radius: 15px;
}

.comment-button:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

/* .card:hover {

  color: black;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
} */

.delete-button {
  background-color: white;
  color : black;
  display: block;
  text-align: center;
  margin: 5px 50px;
  border-radius: 15px;
  border: 1px solid #282c34;
}

.delete-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}